<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.sujungvillage">
    <!-- gps 위치 권한 설정 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 카메라 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SujungVillage"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".QnAWriteActivity"
            android:exported="false" />
        <activity
            android:name=".QnADetailActivity"
            android:exported="false"
            android:label="@string/title_activity_qn_adetail"
            android:theme="@style/Theme.SujungVillage.NoActionBar" />
        <activity
            android:name=".NoticeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".CommWriteActivity"
            android:exported="true" />
        <activity
            android:name=".RewardActivity"
            android:exported="true" />
        <activity
            android:name=".CommDetailActivity"
            android:exported="true" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".RollcallActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".StayoutActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>